.form {
  input,
  textarea,
  select {
    background: var(--bg);
    border: 0.125rem solid #2e374a;
    border-radius: 0.3125rem;
    color: var(--text);
    margin: 0.625rem 0;
    padding: 1.25rem;
  }

  label {
    font-size: 0.75rem;
  }
}
