.container {
  align-items: center;
  background: #2e374a;
  border-radius: 0.625rem;
  display: flex;
  gap: 0.625rem;
  padding: 0.625rem;
  width: max-content;
}

.input {
  background: transparent;
  border: none;
  color: var(--text);
  outline: none;
}
