.container {
  align-items: center;
  background: var(--bg-soft);
  border-radius: 0.625rem;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}

.title {
  color: var(--text-soft);
  font-weight: bold;
  text-transform: capitalize;
}

.menu {
  align-items: center;
  display: flex;
  gap: 1.25rem;
}

.search {
  align-items: center;
  background: #2e374a;
  border-radius: 0.625rem;
  display: flex;
  gap: 0.625rem;
  padding: 0.625rem;
}

.input {
  background: transparent;
  border: none;
  color: var(--text);
}

.icons {
  display: flex;
  gap: 1.25rem;
}
