.table {
  & > td {
    padding: 0.625rem;
  }
}

.user {
  align-items: center;
  display: flex;
  gap: 0.625rem;
}

.user-image {
  border-radius: 50%;
  object-fit: cover;
}

.status {
  border-radius: 0.3125rem;
  color: white;
  font-size: 0.875rem;
  padding: 0.3125rem;
}
